* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffe5e5;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: white;
    width: 450px;
    padding: 30px;
    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #d95353;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #8f3333;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 11px;
    border: 1px solid #e6a0a0;
    border-radius: 7px;
    font-size: 15px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #d95353;
    box-shadow: 0 0 5px rgba(217, 83, 83, 0.3);
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;

    border: none;
    border-radius: 7px;

    background-color: #e57373;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background-color: #d95353;
}